.btn {
    font-size: 30px;
}

table {
    background-color: #808080;
    margin: auto;
    width: 500px;
    height: 300px;
    margin-top: 200px;
}

#Result {
    width: 512px;
    height: 40px;
    font-size: 30px;
}

.btn {
    width: 100px;
    height: 90px;
}

#numrezo {
    width: 202px;
}

#equ {
    height: 180px;
}