---
---

@import "plain";

.icon-facebook {
    font-size: 34px;
}

.icon-facebook:hover {
    color: green;
}

.faceComment {
    height: 250px;
    width: 100%;
}


.textPost{
    text-align:justify;
    font-size: 19px;
}